body {    
	background-color: #F8ECE0;
}

h2 {
	font-size: 18px;
	font-family: "apercu"; 
}

p 	{font-size: 16px;
	font-family: "helvetica"; 
}

.page-margin {
	margin-top: 60px;
}

.center-div {
	text-align: center;
}

.image-circle {
    border-radius: 50%;
}

.image-corners {
    border-radius: 10%;
}

.portrait {
	width: 300px;
	height: 300px;
	padding: 20px;
}

.main-heading { 
	color: #070719;
	font-size:28px;
	font-family: "apercu"; 
	position: center;
}

.sub-heading { 
	color: #070719;
	font-size: 22px;
	font-family: "apercu";
}

.intro-text {
	font-size:22px;
	font-family: "apercu"
}
.paragraph {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 20px;
	font-family: "apercu"
}

.links {
	padding-right: 1%; 
	padding-left: 1%; 
	padding-bottom: 30px;
	color: #FF00A6;
	font-family: "apercu"
}

.work {
	margin-top: 30px;
	margin-bottom: 50px;
}

.work-text {
	padding-left: 10%;
	padding-right: 10%;
}

.container {
	width: 100%;
	padding-bottom: 30px;
	padding-top: 20px;
	}	

.bottom-container {
	padding-top: 30px;	
	padding-bottom: 50px;
	background-color: #BDBDBD;	
}

@media only screen and (min-width: 760px) {	
	.float {
		float: left;
		width: 33%;
		margin-left: auto;
		margin-right: auto;
	}
	.paragraph {
		max-width: 500px;
		text-align: center;	
		margin-left: auto;
		margin-right: auto;
	}
}

























